<header>
    <h1>Angular Firestarter</h1>

    <p>
        This web-app was created by following <a href="https://fireship.io/courses/angular/" target="_blank" mat-flat-button>this course</a>.
    </p>

    <p>
        This project uses <strong>firebase</strong>, <strong>Material UI</strong> and showcases a kanban-Board, SSR and Secure Login (including Google-Log In).
    </p>

    <p>
        Please create an account to try out the Kanban board.
    </p>

    <p>
        <!-- <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://fireship.io/courses/angular" target="blank">Build this App</a> -->
        <a mat-raised-button color="accent" href="https://github.com/monsieurQ/firestarter" target="blank">Source</a>
    </p>


</header>